#linkprofile {
	text-align: center;
}

.text_name {
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	color: black;
}

.photo_avatar {
	text-align: center;
}

.text_bio {
	text-align: center;
}